.help-button:hover{
  border: 2px solid #000;
  transition: border 0.5s linear;
}

.header-logo p:hover{
  text-decoration: underline;
  cursor: pointer;
}

.header-logo img:hover{
  cursor: pointer;
}

.submit-btn{
  border: 1px solid #fff;
  background: #191a1b;
}
.sign-in-btn{
  background: #4c5fd5;
  padding: 10px 30px;
}
.sign-in-btn:hover{
  background-color: #fff;
  color: #000;
  transition: background-color 0.5s ease;
}
.fa-magnifying-glass{
  color: #fff;
  font-size: 1.5rem;
}
.fa-xmark{
  color: #000;
  font-size: 1.5rem;
  margin-left: 15px;
}
.search-bar > input{
  padding: 15px 22px;
  border: 1px solid #000;
  width: 80%;
  font-size: 1.2rem;
  border-radius: 5px;
}
.hamburger-menu{
  display: flex;
  align-items: center;
}
.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin-left: 15px;
}
.menu-icon span {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s linear;
}
.menu-icon.active span:nth-child(1) {
  transform-origin: center;
  transform: translateY(0.5rem) rotate(45deg);
}
.menu-icon.active span:nth-child(2) {
  opacity: 0;
}
.menu-icon.active span:nth-child(3) {
  transform-origin: center;
  transform: translateY(-0.5rem) rotate(-45deg);
}
